<% if user_signed_in? %>
    <li><%= link_to(t('users.logout'), destroy_user_session_path) %></li>
<% else %>
    <% unless current_page?(new_user_session_path) %>
    <li><%= link_to(t('users.login'), new_user_session_path) %></li>
    <% end %>
<% end %>