.notice {
    color: green;
    width: 100%;
}

.alert  {
    color: red;
    padding: 0px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert_style {
    text-align: center;
    vertical-align: middle;
}

#alert_header {
    display:none;
}

#notice {
    border-radius: 0 0 25px 25px;
}

#alert {
    border-radius: 0 0 50px 50px;
}